/* Elements */

::-webkit-scrollbar {
    scroll-snap-type: proximity;
}


/* Classes */

.content-only-a {
    display: contents;
}

.video-box {
    padding: 12px;
    background-color: white;
    border-radius: 30px;
}

.video-player {
    border-radius: 30px;
    height: 40.cap;
}

.Welcome-text {
    color: rgb(80, 80, 80);
    font-size: 40px;
    /*position: absolute;*/
    margin-top: -100px;
    margin-left: 500px;
    padding-right: 50px;
}

.cool-video-player {
    width: 750px;
    height: 500px;
}

object {
    display: block;
}

.big-box {
    background-color: white;
    border-radius: 30px;
    padding: 12px;
    margin: 12px;
    height: 750px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    overflow-y: auto;
}

.big-box-header {
    /*background-color: aqua;*/
    margin-bottom: 12px;
    /* width: 1406.26px; */
    width: 100%;
    height: 136.13px;
    margin-right: 100px;
}

.error {
    background-color: white;
    border-radius: 30px;
    /*margin: 0px;
    padding: 0px;*/
    overflow-y: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: center;
    place-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
}

.error-container-hide {
    display: none;
}

.error-container-show {
    display: block;
    background-color: gray;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999998;
    justify-content: center;
    place-content: center;
    position: fixed;
}

.inner-big-box-object {
    border: solid black 2px;
    width: 750px;
    height: 500px;
    border: solid black 2px;
}

.cool-stuff {
    /*background-color: red;*/
}

.cool-text {
    color: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute;
    margin-top: -500px;
    margin-left: 758px;
    margin-right: 100px;
    resize: none;
    overflow-y: auto;
    text-decoration: dotted;
    background-color: lightgray;
    border-radius: 12px;
    padding: 12px 32px;
}

.cool-image {
    max-width: 100px;
    max-height: 100px;
    margin-top: 40px;
}

.cool-description {
    color: rgb(22, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 244, 244);
    overflow-y: auto;
    overflow-wrap: break-word;
    width: 730px;
    height: 41.77px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    font-size: large;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.introduction-box {
    background-color: lightblue !important;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
}

.info-box {
    background-color: white;
    border-radius: 30px;
    margin: 12px;
}

.bold-white {
    color: white;
    font-weight: bold;
}

.bold-white-inline {
    color: white;
    font-weight: bold;
    display: contents;
}

.has-teapot {
    display: block;
    position: fixed;
}

.info-box-in-grid {
    width: 100%;
    height: 100%;
}

/* Ids */

#intro {
    padding: 40px;
    height: auto;
}

#game-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game {
    min-height: 215.81px;
    max-height: 300px;
}

.game .box-contents {
    display: flex;
    column-gap: 12px;
}

.description-box {
    display: inline-block;
    margin-left: 2px;
    overflow-y: auto;
    max-height: 220px;
    color: blanchedalmond;
    text-shadow: none;
    background-color: darkcyan;
    padding: 5px;
    border-radius: 10px;
}

#game-container {
    margin-top: 12px;
    background-color: black;
    color: white;
    text-shadow: none;
    padding: 7px;
    height: 750px;
    display: grid;
    grid-template-rows: 50px 1fr 30px;
}

#game-container.fullscreen {
    z-index: 100000000000000000;
    /* That should be enough */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    margin: 0px;
}

#game-title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: none;
}

#top {
    padding: 2px;
}

#game-box {
    position: relative; /* anchor absolute children */
    padding: 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bottom {
    padding: 1px;
}

#download-prompt {
    position: absolute;
    top: 50%;          /* center vertically */
    left: 50%;         /* center horizontally */
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
}

#image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;       /* fill container */
    height: 100%;
    opacity: 0.5;
    object-fit: cover; /* scale nicely */
    z-index: 1;
}

#player, #player-content {
    width: 100%;
    height: 100%;
    z-index: 20000;
}

#bottom-section, #comments, #more {
    color: white;
    text-shadow: none;
}

#comments, #more {
    background-color: black;
    padding: 10px;
}

#bottom-section {
    display: grid;
    grid-template-columns: 1fr 500px;
    min-height: 500px;
    column-gap: 14px;
    margin-top: 10px;
}

#comment-prompt {
    min-width: 350px !important;
    min-height: 150px !important;
    max-width: 500 !important;
    max-height: 250 !important;
}