<!DOCTYPE html>
<html>

<head>
  <title>Board</title>
  <link rel="icon" type="image/x-icon" href="/Coco Icon/Old Coco Icon.ico">
  <link href="/CSS/homepage.css" rel="stylesheet">
  <link href="/CSS/header.css" rel="stylesheet">
  <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
  <!--<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>-->
  <link href="/CSS/general.css" rel="stylesheet">
  <link href="/CSS/general.css" rel="stylesheet">
  <link href="/CSS/header.css" rel="stylesheet">
  <link href="/CSS/teapot.css" rel="stylesheet">
  <link href="/CSS/download.css" rel="stylesheet">
  <style>
    body {
      background-color: grey;
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("/Images/Background Dark.png") !important;
    }

    #webpage {
      position: absolute;
      margin-top: 50px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 12px;
      column-gap: 12px;
      margin-top: 30px;
      margin-left: 12px;
      margin-right: 12px;
      bottom: 0;
    }

    /*#header {}*/

    .header {
      display: flex;
      flex: 1;
      height: 44px;
      position: fixed;
      z-index: 100;
      margin-bottom: 50px;
      background-color: lightgrey;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
      padding-top: 12px;
      padding-left: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
    }


    .box-product {
      background-color: rgb(247, 243, 243);
      white-space: nowrap;
      /* grid-template-columns: 100px 1fr; */
      /* width: 300px;
                    height: 300px; */
      padding: 30px 3px 30px 40px;
      /* display: grid; */
      height: 100%;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    }

    #Coco {
      z-index: 101;
      height: 38px;
      padding-bottom: -20px;
      padding-right: -100px;
      opacity: 1;
      transition: opacity 1.0s;
      transition: height 1.0s;
    }


    #Coco:hover {
      opacity: 0.10;
      cursor: pointer;
      height: 50px;
      transition: opacity 1.0s;
      transition: height 1.0s;
    }

    .product-img {
      height: 120px;
      width: 120px;
      margin-left: 40px;
      max-width: 100%;
    }

    .Announcement {
      background-color: wheat;
      margin-top: 100px;
      margin-bottom: 50px;
    }

    #user-box {
      display: block;
    }

    #user-info {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 15px;
      background-color: #ddd;
    }

    .user-box {
      display: block;
      background: rgb(175, 175, 175);
      padding: 5px;
      border-radius: 5px;
      border: 2px solid rgb(211, 211, 211);
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .user-box-head {
      border-radius: 7px;
      border: 2px solid rgb(230, 230, 230);
      background-color: rgb(199, 199, 199);
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      padding: 2px 10px;
      color: rgb(128, 128, 128);
    }

    .user-box-head h3,
    .user-box-head input {
      color: rgb(128, 128, 128);
    }

    #project-name {
      font-size: 25px;
      font-weight: bold;
      outline: none;
      border: none;
      padding: 8px;
    }

    #project-name-edit {
      font-size: 25px;
      padding: 5px;
      font-weight: bold;
      outline: none;
      background-color: rgb(230, 230, 230);
      border-radius: 10px;
      border: darkgray 3px dotted;
    }

    #project-description-edit {
      padding: 5px;
      outline: none;
      background-color: rgb(230, 230, 230);
      border-radius: 10px;
      border: darkgray 3px dotted;
      width: 208px !important;
      min-height: 470px !important;
      white-space: wrap !important;
      word-break: normal !important;
    }

    #project-description {
      outline: none;
      border: none;
      max-width: 208px !important;
      min-height: 470px !important;
      word-break: break-word !important;
    }

    #project-name {
      max-height: 20px !important;
      overflow-x: hidden !important;
      overflow-y: hidden !important;
      white-space: nowrap !important;
    }

    .box-push-into-left {
      --pericles-word-background: rgba(9, 46, 140, 0.92);
      --pericles-section-background: rgba(255, 254, 219, 1.54);
      text-shadow: 0 1px #5f5f5f;
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(43, 43, 43);
      margin: 12px;
      /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);*/
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0px !important;
      margin: -3px;
      color: white;
      height: 450px;
    }
  </style>
</head>

<body style="background-image: url(/Images/Background.png);">

  <div id="webpage">
    <div id="header">
      <header class="header">
        <!--<button onclick="cocoSound();">Test</button>-->
        <a href="/index.html" style="margin-right: 5px !important;"><img id="Coco" src="/Coco.svg" onmouseover="const audio = new Audio(`/Coco.wav`); audio.play()"></a>

        <div class="left-header">
          <% if (false) { %>
          <div></div>
          <a class="content-only-a" href="/Games/">
            <button class="special-button">Games</button>
          </a>
          <button class="special-button">Productivity</button>
          <button class="special-button">Creation</button>
          <button class="special-button">Develop</button>
          <% } else { %>
          <a class="content-only-a" href="/about">
            <button class="special-button">About</button>
          </a>
          <a class="content-only-a" href="/Downloads/">
            <button class="special-button">Downloads</button>
          </a>
          <% } %>
        </div>

        <div id="user-controls" class="right-header">
          <% if (user !=null && user !=="" ) { %>
          <ul style="align-items: center; justify-content: center; color: goldenrod;">
            Welcome back <a href="/users/<%= user.username %>">
              <%= user.username %>
            </a>!
          </ul>
          <a class="content-only-a" href="/manage">
            <button class="special-button header-right">Manage account</button>
          </a>

          <% if (user.role==="Admin" ) { %>
          <a class="content-only-a" href="/admin/">
            <button class="special-button">Open Admin Panel</button>
          </a>
          <% } %>

          <% } else { %>
          <a class="content-only-a" href="/login/">
            <button id="sign-in" class="special-button header-right">Sign In</button>
          </a>
          <a class="content-only-a" href="/register/">
            <button class="special-button">Create Account</button>
          </a>
          <% } %>

        </div>

      </header>
    </div>

    <div id="container">
      <div id="user-box">
        <div class="user-box-head">
          <h3 style="display: flex; flex-direction: row;">
            <span id="project-name" style="flex: 1;" class>No Project!</span>
            <input id="project-name-edit" style="flex: 1;" value="No Project!" class="hide">
            <span style="float: right;">
              <button id="like-button" class="special-button" onclick="toggleLike();" style="justify-items: center; justify-content: center; margin: 30px 20px;">Like <img class="sticker" src="/Images/Like project.png" style="margin: 0px; margin-left: 5px; margin-bottom: -5px;"></button>
              <button id="favorite-button" class="special-button" onclick="" style="justify-items: center; justify-content: center;">Add to Favorites <img class="sticker" src="/Images/Add to Favorites.png" style="margin: 0px; margin-left: 10px; margin-bottom: -5px;"></button>
            </span>
          </h3>
          <p id="project-owner"></p>
          <p id="project-creators"></p>
        </div>
        <div class="user-box" id="user-info">
          <div>
            <div class="box-push-into-left" style="padding: 10px !important;" style="width: 260px !important;">
              <p style="font-size: 21px;">Project description:</p>
              <br>
              <textarea id="project-description-edit" class="hide"></textarea>
              <p id="project-description">
                This Project Is Null And Void!
              </p>
            </div>
            <div id="sharing-options"></div>
          </div>
          <div style="  display: flex; 
  flex-direction: column !important;
  height: 100%;">
            <% if (isEditable) { %>
            <button class="special-button" onclick="window.document.getElementById('edit-menu').classList.toggle('hide')">Edit project: </button>
            <div id="edit-menu" class="hide">
              <button class="special-button" onclick="uploadFile();">Upload project file</button>
              <button class="special-button" onclick="uploadThumbnailFile();">Upload thumbnail file (Does not work on picture projects!)</button>
              <button onclick="changeType();">Change project type</button>
              <script>
                function uploadFile() {
                  const projectIndex = getProjectId();
                  const fileInput = document.createElement("input");
                  fileInput.type = "file";
                  fileInput.onchange = () => {
                    const formData = new FormData();
                    formData.append("file", fileInput.files[0]);

                    fetch(`/api/projects/${projectIndex}/upload`, {
                        method: "POST",
                        body: formData
                      })
                      .then(res => res.json())
                      .then(uploadRes => {
                        console.log("Upload response:", uploadRes);
                        alert(`Upload response: ${uploadRes}`);
                      });
                  };
                  fileInput.click(); // open file picker
                }

                function uploadThumbnailFile() {
                  const projectIndex = getProjectId();
                  const fileInput = document.createElement("input");
                  fileInput.type = "file";
                  fileInput.accept = "image/*";
                  fileInput.onchange = () => {
                    const formData = new FormData();
                    formData.append("file", fileInput.files[0]);

                    fetch(`/api/projects/${projectIndex}/uploadThumbs`, {
                        method: "POST",
                        body: formData
                      })
                      .then(res => res.json())
                      .then(uploadRes => {
                        console.log("Upload response:", uploadRes);
                        alert(`Upload response: ${uploadRes}`);
                      });
                  };
                  fileInput.click(); // open file picker
                }

                function changeType() {
                  const newType = prompt("Change project type (CocoScript, Video, Picture or Audio only)");
                  if ((newType !== "CocoScript") && (newType !== "Video") && (newType !== "Picture") && (newType !== "Audio")) {
                    alert("Invalid type!");
                    return;
                  }
                  fetch(`/api/projects/${getProjectId()}/change/type/${newType}/`, {
                    method: "POST"
                  });
                }
              </script>
            </div>
            <% } %>
            <div style="display: flex;
  gap: 1rem;
  padding: 1rem;
  /* Critical: allow inner flex items to shrink so scrolling works */
  min-height: 0;
  /* Stretch between header and footer */
  flex: 1;
  flex-direction: row !important;
  ">
              <div id="project-container" style="border: black 2px solid !important;   /* Stretch in the remaining horizontal space */
  flex: 1;
  overflow: none !important;
  /* Critical: allow the scrolling area to shrink within the flex container */
  min-height: 0;
  /* Optional styling */
  background: rgb(184, 184, 184);
  border: 1px solid #ddd;
  padding: 0px !important;
  height: 350px;
  justify-content: center; /* Centers horizontally */
align-items: center; /* Centers vertically */
display: flex;
  ">
                <h1>Loading Project...</h1>
              </div>
            </div>
            <% if (user) { %>
            <button onclick="report('project');" class="report">Report this project.</button>
            <% } %>
            <% if (isOwner) { %>
            <div>
              Allow downloads: <label for="allowDownloads">
                <input type="checkbox" id="allowDownloads" name="allowDownloads" <% if (downloadAllowed) { %> checked <% } %> onchange="fetch(`/api/projects/change/canDownload/${getProjectId()}/${document.getElementById('allowDownloads').checked}/`, {method: 'POST', body: JSON.stringify({canDownload: document.getElementById('allowDownloads').checked})});">
              </label>
            </div>
            <% } %>
            <div style="display: flex; column-gap: 10px; height: 50px;">
              <button>Download Project</button>
              <% if (isOwner) { %>
              <button id="share-button" onclick="shareProject()">Share Project</button>
              <button id="unshare-button" class="hide" onclick="unshareProject()">Unshare Project</button>
              <% } else if (isEditable) { %>
              <p>Only the project owner can share projects</p>
              <% } %>
            </div>
            <% if (isOwner) { %>
            <div id="share-project-confirm" class="hide">
              Are you sure you want to share your project with everyone?:
              <button onclick="shareProjectWithEveryone()">Yes</button>
              <button class="special-button" onclick="document.getElementById('share-project-confirm').classList.add('hide');">No</button>
            </div>

            <div id="unshare-project-confirm" class="hide">
              Are you sure you want to unshare (hide your project from everyone)?:
              <button onclick="hideProjectFromEveryone()">Yes</button>
              <button class="special-button" onclick="document.getElementById('unshare-project-confirm').classList.add('hide');">No</button>
            </div>

            <div id="share-status"></div>

            <script>
              function toggleDownload(allowed) {
                fetch(`/api/projects/change/canDownload/${getProjectId()}/${allowed}`, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify({
                    canDownload: allowed
                  })
                });
              }

              function shareProject() {
                document.getElementById("share-project-confirm").classList.toggle("hide");
              }

              function unshareProject() {
                document.getElementById("unshare-project-confirm").classList.toggle("hide");
              }

              async function shareProjectWithEveryone() {
                const response = await fetch(`/api/projects/${getProjectId()}/share/true/`, {
                  method: "POST"
                });
                const data = await response.json();
                document.getElementById("share-status").innerHTML = data.status;
                document.getElementById("share-project-confirm").classList.add("hide");
                document.getElementById("unshare-project-confirm").classList.add("hide");
                if (response.status === 200) {
                  document.getElementById("share-button").classList.add("hide");
                  document.getElementById("unshare-button").classList.remove("hide");
                }
                setTimeout(() => document.getElementById("share-status").innerHTML = "", 10000);
              }

              async function hideProjectFromEveryone() {
                const response = await fetch(`/api/projects/${getProjectId()}/share/false/`, {
                  method: "POST"
                });
                const data = await response.json();
                document.getElementById("share-status").innerHTML = data.status;
                document.getElementById("share-project-confirm").classList.add("hide");
                document.getElementById("unshare-project-confirm").classList.add("hide");
                if (response.status === 200) {
                  document.getElementById("share-button").classList.remove("hide");
                  document.getElementById("unshare-button").classList.add("hide");
                }
                setTimeout(() => document.getElementById("share-status").innerHTML = "", 10000);
              }
            </script>
            <% } %>
            <p>Likes: <span id="likes-count">0</span>, Favorites: <span id="favorites-count">0</span>, Comments: <span id="comments-count">0</span></p>
            <div style="margin-bottom: 20px !important; margin-top: -40px;">
              <ul>
                <p class="Welcome-text" style="display: block !important; float: none !important;">Comments</p>
              </ul>
              <div>
                <% if (isOwner) { %>
                <div>
                  Allow Comments: <label for="allow-comments">
                    <input type="checkbox" id="allow-comments" name="allow-comments" <% if (canComment) { %> checked <% } %> onchange="fetch(`/api/projects/${getProjectId()}/allowComments/${document.getElementById('allow-comments').checked}/`, {method: 'POST'});">
                  </label>
                </div>
                <% } %>
                <ul>
                  <textarea id="comment-text" style="max-width: 747px; width: 435px; height: 133px;"></textarea>
                  <br>
                  <button id="post-comment" class="special-button">Post</button>
                  <button id="cancel-comment">Cancel</button>
                  <div id="comment-server-response"></div>
                </ul>
                <ul id="comments">
                </ul>

              </div>
            </div>
          </div>
          <div id="main-nav-box" class="navigation-box">
          </div>
          <div id="error-container" class="error-container-hide">
            <!--Some Scripts Have Probably Crashed-->
            <div id="e" class="error big-box"></div>
          </div>
        </div>
      </div>
      <% if (user) { %>
      <script>
        const username = "<%= user.username %>";
      </script>
      <% } else { %>
      <script>
        const username = "";
      </script>
      <% } %>
      <% if (user) { %>
      <script>
        localStorage.setItem("poopUsername", "<%= user.username %>");
      </script>
      <% } %>
      <script src="/JS/CocoScript Engine/CocoScript.js"></script>
      <script src="/Scripts/user.js"></script>
      <script src="/Ambler.mp3Sound.js"></script>
      <!-- Initialize @.js -->
      <script src="/JS/@.js"></script>
      <script src="https://vjs.zencdn.net/8.23.4/video.min.js"></script>
      <script src="/JS/project.js"></script>
      <script src="/JS/global.js"></script>
</body>

</html>