<!DOCTYPE html>
<html>

<head>
  <title>Coco.ink faq</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/Coco Icon/Old Coco Icon.ico">
  <link href="/CSS/homepage.css" rel="stylesheet">
  <link href="/CSS/header.css" rel="stylesheet">
  <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
  <link href="/CSS/general.css" rel="stylesheet">
  <style>
    body {
      background-color: grey;
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("/Images/Background2.png");
      margin: 0px;
      padding: 0px;
      /*height: 3000px;*/
      width: 100%;
      /*max-width: 1200px;*/
    }

    #webpage {
      position: absolute;
      margin-top: 50px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

    .products {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 12px;
      margin-right: 12px;
      bottom: 0;
    }

    /*#header {}*/

    .header {
      display: flex;
      flex: 1;
      height: 44px;
      position: fixed;
      z-index: 100;
      margin-bottom: 50px;
      background-color: lightgrey;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
      padding-top: 12px;
      padding-left: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      /* From https://css.glass */
      background: rgba(211, 211, 211, 0.75);
      /*border-radius: 16px;*/
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.2px);
      -webkit-backdrop-filter: blur(5.2px);
      border: 1px solid rgba(211, 211, 211, 0.548);
      border-bottom: 2px solid rgba(211, 211, 211, 0.548);
    }


    /*.box-product {
            background-color: rgb(247, 243, 243);
            /* grid-template-columns: 100px 1fr; */
    /* width: 300px;
                height: 300px; *
            /*padding: 30px 3px 30px 40px;*
            /* display: grid; *

            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
            width: 300px;
            height: 300px;

            overflow-y: scroll;
            overflow-x: scroll;
        }*/

    .box-product {
      background-color: wheat;
      /*margin-bottom: 50px;*/
      border-radius: 30px;
      padding: 12px;
      margin: 12px;
      margin-top: 100px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
      overflow-y: auto;
      display: grid;
      grid-template-columns: 1fr 4fr;
    }

    #Coco {
      z-index: 101;
      height: 38px;
      padding-bottom: -20px;
      padding-right: -100px;
      opacity: 1;
      transition: height 1.0s;
      transition: opacity 1.0s;
      /**/
      transition: opacity 1.0s ease-in-out, height 1.0s ease-in-out;
      /**/
    }


    #Coco:hover {
      opacity: 0.10;
      cursor: pointer;
      height: 50px;
      transition: opacity 1.0s;
      transition: height 1.0s;
      /**/
      transition: opacity 1.0s ease-in-out, height 1.0s ease-in-out;
      /**/
    }

    .product-img {
      height: 120px;
      width: 120px;
      margin-left: 40px;
      max-width: 100%;
    }

    .Welcome-text-left {
      color: rgb(80, 80, 80);
      font-size: 40px;
      display: inline;
      float: left;
    }

    #Welcome-text {
      color: rgb(80, 80, 80);
      font-size: 40px;
      text-align: center;
    }

    /*
                .Announcement {
                    background-color: wheat;
                    margin-top: 100px;
                    margin-bottom: 50px;
                }
                    */
  </style>
</head>

<body>
  <div id="webpage">
    <div id="header">
      <header class="header">
        <!--<button onclick="cocoSound();">Test</button>-->
        <a href="/index.html" style="margin-right: 5px !important;"><img id="Coco" src="/Coco.svg" onmouseover="const audio = new Audio(`/Coco.wav`); audio.play()"></a>

        <div class="left-header">
          <% if (false) { %>
          <div></div>
          <a class="content-only-a" href="/Games/">
            <button class="special-button">Games</button>
          </a>
          <button class="special-button">Productivity</button>
          <button class="special-button">Creation</button>
          <button class="special-button">Develop</button>
          <% } else { %>
          <a class="content-only-a" href="/about">
            <button class="special-button">About</button>
          </a>
          <a class="content-only-a" href="/Steamworks.html?id=1#player">
            <button class="special-button">Test project 1</button>
          </a>
          <% } %>
        </div>

        <div id="user-controls" class="right-header">
          <script>
            console.log("User data:", <% - JSON.stringify(user) %>);
          </script>
          <% if (user && (user.username !=null && user.username !=="" )) { %>
          <ul style="align-items: center; justify-content: center; color: goldenrod;">
            Welcome back <a href="/users/<%= user.username %>">
              <%= user.username %>
            </a>!
          </ul>
          <a class="content-only-a" href="">
            <button class="special-button header-right">Manage account</button>
          </a>

          <% if (user.role==="admin" ) { %>
          <a class="content-only-a" href="/admin/">
            <button class="special-button">Open Admin Panel</button>
          </a>
          <% } %>

          <% } else { %>
          <a class="content-only-a" href="/login/">
            <button id="sign-in" class="special-button header-right">Sign In</button>
          </a>
          <a class="content-only-a" href="/register/">
            <button class="special-button">Create Account</button>
          </a>
          <% } %>

        </div>

      </header>
    </div>
    <div id="welcome">

      <div id="main-nav-box" class="navigation-box navigation-box-closed">
        <div id="sidebar-buttons">
          <button class="sidebar-button"><img src="/Coco Icon/Old Coco Icon.png">Coco</button>
          <button class="sidebar-button"><img src="/.png">Code</button>
        </div>
        <div id="sidebar-content">

          <!-- Page 1 Of Sidebar Navigation -->
          <div id="sidebar-content-page-1">
            <img src="/Coco Icon/Coco The Coconut.png">
            <h3 class="cool-text">Hello! And Welcome To Coco!</h3>
          </div>


        </div>
      </div>

      <div id="intro" class="info-box">
        <div>
          <p class="Welcome-text center">Facts, Questions And Answers!</p>
          <div id="#guildlines"></div> <!-- Up here. Gives clearance from the header for the content below -->
          <hr>
          <h2>Community Guidelines</h2>
          There are rules for you to follow when using my website, here they are:
          <ul>
            <li>
              <h3>No Illegal content!</h3>
              <p>You will NOT be posting, sharing or in any way be participating in illegal content while using this site! </p>
            </li>
            <li>
              <h3>No inappropriate content!</h3>
              <p>
                You will NOT be posting, sharing or in any way be participating in inappropriate content while using this site!
                Inappropriate content includes, but is not limited to: Adult content, content that promotes hate or violence, content that promotes self-harm,
                content that promotes illegal activities, and content that is otherwise deemed inappropriate by the site administrators.
              </p>
            </li>
            <li>
              <h3>Some Freedoms of Speech</h3>
              <p>
                While I do not tolerate inappropriate content, I do believe in freedom of speech. You are allowed to express your opinions and beliefs,
                even if they are controversial or unpopular, as long as they do not violate the above guidelines.
                I will not censor or remove content simply because I disagree with it. Also I have an interesting sense of humor (I get it from my dad, who gets it from his, ok?), so some things that may seem inappropriate to you,
                may be perfectly fine to me. Just use your best judgment and common sense when posting content on this site.
                But please refrain from swearing, there are better ways to express yourself! Also there is a bad word detector in place. It will filter out bad words in comments and messages.
                It does not filter out bad words in project descriptions or titles, so please be mindful of that when creating projects. Also the filter system is not mine, it is a third party system,
                don't worry if it finds something wrong, it just stops it from being posted, so don't worry about getting in trouble. You will only get in trouble if your content gets reported and gets reviewed by me or my admins and is found to be inappropriate.
                The filter does not like the word "poop" and basic words like that, but whatever, just try to avoid swearing in general.
              </p>
            </li>
            <li>
              <h3>Respect Others</h3>
              <p>
                You should always be respectful to others while using this site. This includes being respectful in comments, messages, and any other form of communication on the site.
                Unless you are joking around with friends or people you know, please be respectful and kind to others.
              </p>
            </li>
            <li>
              <h3>Report Inappropriate Content</h3>
              <p>
                If you see any content that you believe violates the community guidelines, please report it to me or my admins.
                You can do this by clicking the "Report" button on the content in question. I will review all reports and take appropriate action.
              </p>
            </li>
            <li>
              <h3>
                Private Messaging... (Oh boy...)
              </h3>
              <p>
                Yes. This website has private messaging. Please use it responsibly. You should not use private messaging to harass, bully, or threaten others.
                If you receive any inappropriate messages, please report them to me or my admins immediately.
                Also, please be respectful when sending messages to others. Do not send unsolicited messages or spam others.
                Hopefully, this feature will be used for good reasons only! Also private messages will be changed to "public" messages in the future, 
                where users can see who you've been talking to, and what you've been talking about, so be careful what you say!
              </p>
            </li>
            <li>
              <h3>No Impersonation</h3>
              <p>
                You should not impersonate other users or staff members on this site. This includes using someone else's username, profile picture, or any other form of identification.
                Impersonation can lead to confusion and misunderstandings, so please be yourself and use your own identity while using this site.
              </p>
            <li>
              <h3>No Spamming</h3>
              <p>
                You should not spam the site with excessive comments, messages, or any other form of communication.
                Spamming includes posting the same comment or message multiple times, posting irrelevant content, and any other form of excessive communication that disrupts the normal use of the site.
              </p>
            <li>
              <h3>Protect Your Privacy</h3>
              <p>
                Be careful about sharing personal information on this site. Do not share your full name, address, phone number, or any other sensitive information.
                Also be cautious about sharing personal information about others without their consent.
              </p>
            <li>
              <h3>Follow the Law</h3>
              <p>
                You must follow all applicable laws while using this site. This includes laws related to copyright, intellectual property, and privacy.
                You are solely responsible for any content that you post on this site, so make sure that you have the right to post it and that it does not violate any laws.
              </p>
            <li>
              <h3>Have Fun!</h3>
              <p>
                Most importantly, have fun while using this site! This site is meant to be a place for creativity, learning, and community.
                Enjoy yourself and make the most of your experience here!
              </p>
            </li>
          </ul>
          <hr>
          <h3>Still under construction! Try my <a href="/family/">family</a>.</h3>
          <hr>
          <p>More coming soon! If you want to ask me a question, message <a href="/users/Coco/">@Coco</a> or click <a onclick="navBoxOpen('messages', 'to=Coco')">Here</a>!</p>
          <hr>
          <p>Want to know more about me? <a href="/family">See my family</a>.</p>
          <hr>
        </div>
        <div>
          <img src="/Coco Icon/Coco The Coconut.png" width="200px" height="250px">
          <h5>Last updated:</h5>
          <h5>12/24/2025 (AD) At 9:12:27 PM EST</h5>
        </div>

      </div>

      <div id="main-nav-box" class="navigation-box">
      </div>

      <footer class="box-product">
        <div id="footer-content">
          <p>Coco.ink © 2025 Coco Ink Software. All rights reserved.</p>
        </div>
        <h4>
          Want to know more about me? <a href="/faq">FactsAndQuestions</a>.
          You can also see my <a href="/family">family</a>.
        </h4>
      </footer>

    </div>

    <div id="error-container" class="error-container-hide">
      Some Scripts Have Probably Crashed
      <div id="e" class="error big-box"></div>
    </div>
    <!---->
    <script src="/Ambler.mp3Sound.js"></script>
    <script src="/JS/global.js"></script>
    <!---->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        /* Aa *
        showError(); /* Aa */
        /* Aa */
        showMessage();
      });

      function showError() {
        document.getElementById("e").innerHTML = `Oops! Something Crashed!`;
        var errorContainer = document.getElementById("error-container");
        errorContainer.classList.remove("error-container-hide");
        errorContainer.classList.add("error-container-show");
      }

      function hideError() {
        document.getElementById("e").innerHTML = ``;
        var errorContainer = document.getElementById("error-container");
        errorContainer.classList.remove("error-container-show");
        errorContainer.classList.add("error-container-hide");
      }

      function showMessage(messageAtIndex) {
        var messageBox;
        switch (messageAtIndex) {
          case 5:
            //
            break;
        }
      }
    </script>
    <script>
      console.log(`At: ${window.location.pathname}`);
      if (window.location.pathname.includes('index.html')) window.location.href = window.location.pathname.replace('index.html', '');
    </script>
    <!--<script src="/Scripts/spawnNewstuff.js" type="module"></script>-->
    <script src="https://unpkg.com/dayjs@1.11.10/dayjs.min.js"></script>
    <!--<script type="module" src="/Scripts/bodyScripts.js"></script>-->
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
    <script>
      const errorMessageContainer = document.getElementById("error-container");

      function clearError() {
        errorMessageContainer.classList.remove("error-container-show");
        errorMessageContainer.classList.add("error-container-hide");
        document.getElementById("e").innerHTML = ``;
        var errorContainer = document.getElementById("error-container");
        errorContainer.classList.remove("error-container-show");
        errorContainer.classList.add("error-container-hide");
      };

      clearError();
    </script>
</body>

</html>