<!DOCTYPE html>
<html>

<head>
  <title>Coco.ink</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/Coco Icon/Old Coco Icon.ico">
  <link href="/CSS/homepage.css" rel="stylesheet">
  <link href="/CSS/header.css" rel="stylesheet">
  <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
  <link href="/CSS/general.css" rel="stylesheet">
  <style>
    body {
      background-color: grey;
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("/Images/Background.png");
      margin: 0px;
      padding: 0px;
      /*height: 3000px;*/
      width: 100%;
      /*max-width: 1200px;*/
    }

    #webpage {
      position: absolute;
      margin-top: 50px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

    .products {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 12px;
      margin-right: 12px;
      bottom: 0;
    }

    /*#header {}*/

    .header {
      display: flex;
      flex: 1;
      height: 44px;
      position: fixed;
      z-index: 100;
      margin-bottom: 50px;
      background-color: lightgrey;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
      padding-top: 12px;
      padding-left: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      /* From https://css.glass */
      background: rgba(211, 211, 211, 0.75);
      /*border-radius: 16px;*/
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.2px);
      -webkit-backdrop-filter: blur(5.2px);
      border: 1px solid rgba(211, 211, 211, 0.548);
      border-bottom: 2px solid rgba(211, 211, 211, 0.548);
    }


    /*.box-product {
            background-color: rgb(247, 243, 243);
            /* grid-template-columns: 100px 1fr; */
    /* width: 300px;
                height: 300px; *
            /*padding: 30px 3px 30px 40px;*
            /* display: grid; *

            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
            width: 300px;
            height: 300px;

            overflow-y: scroll;
            overflow-x: scroll;
        }*/

    .box-product {
      background-color: wheat;
      /*margin-bottom: 50px;*/
      border-radius: 30px;
      padding: 12px;
      margin: 12px;
      margin-top: 100px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
      overflow-y: auto;
      display: grid;
      grid-template-columns: 1fr 4fr;
    }

    #Coco {
      z-index: 101;
      height: 38px;
      padding-bottom: -20px;
      padding-right: -100px;
      opacity: 1;
      transition: height 1.0s;
      transition: opacity 1.0s;
      /**/
      transition: opacity 1.0s ease-in-out, height 1.0s ease-in-out;
      /**/
    }


    #Coco:hover {
      opacity: 0.10;
      cursor: pointer;
      height: 50px;
      transition: opacity 1.0s;
      transition: height 1.0s;
      /**/
      transition: opacity 1.0s ease-in-out, height 1.0s ease-in-out;
      /**/
    }

    .product-img {
      height: 120px;
      width: 120px;
      margin-left: 40px;
      max-width: 100%;
    }

    .Welcome-text-left {
      color: rgb(80, 80, 80);
      font-size: 40px;
      display: inline;
      float: left;
    }

    /*
                .Announcement {
                    background-color: wheat;
                    margin-top: 100px;
                    margin-bottom: 50px;
                }
                    */
  </style>
</head>

<body>
  <div id="webpage">
    <div id="header">
      <header class="header">
        <!--<button onclick="cocoSound();">Test</button>-->
        <a href="/index.html" style="margin-right: 5px !important;"><img id="Coco" src="/Coco.svg" onmouseover="const audio = new Audio(`/Coco.wav`); audio.play()"></a>

        <div class="left-header">
          <% if (false) { %>
          <div></div>
          <a class="content-only-a" href="/Games/">
            <button class="special-button">Games</button>
          </a>
          <button class="special-button">Productivity</button>
          <button class="special-button">Creation</button>
          <button class="special-button">Develop</button>
          <% } else { %>
          <a class="content-only-a" href="/about">
            <button class="special-button">About</button>
          </a>
          <a class="content-only-a" href="/Steamworks.html?id=1#player">
            <button class="special-button">Test project 1</button>
          </a>
          <% } %>
        </div>

        <div id="user-controls" class="right-header">
          <script>
            console.log("User data:", <%- JSON.stringify(user) %>);
          </script>
          <% if (user !=null && user !=="" ) { %>
          <ul style="align-items: center; justify-content: center; color: goldenrod;">
            Welcome back <a href="/users/<%= user.username %>">
              <%= user.username %>
            </a>!
          </ul>
          <a class="content-only-a" href="/manage">
            <button class="special-button header-right">Manage account</button>
          </a>

          <% if (user.role==="admin" ) { %>
          <a class="content-only-a" href="/admin/">
            <button class="special-button">Open Admin Panel</button>
          </a>
          <% } %>

          <% } else { %>
          <a class="content-only-a" href="/login/">
            <button id="sign-in" class="special-button header-right">Sign In</button>
          </a>
          <a class="content-only-a" href="/register/">
            <button class="special-button">Create Account</button>
          </a>
          <% } %>

        </div>

      </header>
    </div>
    <div id="welcome">

      <div id="main-nav-box">
      </div>

      <div id="intro" class="info-box">
        <img class="Coco-logo" src="/Coco.svg">
        <p class="Welcome-text">Timeline of The Official Coco Website!</p>
        <ul id="timeline">
          <li>
            <hr>
            <h1>Coco is Official!</h1>
            <h2>Nov 30 2025 (AD) 10:54 PM</h2>
            <p>
              Though not legally official, I like to say that Coco starts here!
              If you try going more forward or backward to find The start, i'll hurt you.
            </p>
            <img src="/Coco.svg" alt="First Coco Logo">
            <h5>The First Coco Logo!</h5>
            <img src="/Coco Icon/Coco The Coconut.svg" alt="Coco the Coconut">
            <h5>My mascot, Coco The Coconut!</h5>
            <hr>
            <img>
          </li>
          <li>
            <h1>CocoInk.ink is live!</h1>
            <h2>Dec 27 2025 (AD) 10:59 PM</h2>
            <img height="400px" src="/static/timeline/firstpicture.png">
            <h4>Website on launch day!</h4>
            <hr>
          </li>
          <li>
            <h1>Play the Coco game!</h1>
            <h2>Dec 28 2025 (AD) 2:43 PM</h2>
            <img height="400px" src="/static/timeline/playingMyGame.png">
            <h4>The game. <a href="/static/downloads/Coco/">Play now!</a></h4>
            <hr>
          </li>
          <li>
            <h1>I'm very sick. Some backend server fixes today.</h1>
            <h2>Dec 29 2025 (AD) 1:47 PM</h2>
            <img height="70px" src="/static/timeline/3daysbeforenewyears.png">
            <h4>Three days before new years day!</h4>
            <hr>
          </li>
          <li>
            <h1>I'm feeling a lot better today, but no updates today.</h1>
            <h2>Dec 30 2025 (AD) 8:51 PM</h2>
            <img height="100px" src="/Stickers/Coconut Lost.svg">
          </li>
          <li>
            <h1>I'm feeling even better today. And The website is ready for the New Year.</h1>
            <h2>Dec 31 2025 (AD) 3:28 PM</h2>
            <p>
              Last night was the last time I fall asleep in 2025!
              Today is the last day of 2025! I always wanted my website
              to release in late 2025, and that's exactly what happened!
              Thanks to my dad for buying the domain for me!
              Hope your last day in 2025 in fun!
            </p>
            <img height="400px" src="/static/timeline/New Years test.png">
            <h4>Testing The Website for new years!</h4>
          </li>
          <li>
            <h1>Happy New Year!</h1>
            <h2>Jan 1 2026 (AD) 12:05 AM</h2>
            <p>
              Happy New Year! It's 2026! Hope you enjoy 2026! Let's
              hope the great meme reset will fix our humor.
              Let's hope this year is good for my website and my future projects.
              God bless the USA, 2026, and my new Website!
              Feeling slightly better today. :)
            </p>
            <img height="400px" src="/static/timeline/2026Year!.png">
            <h4>Happy New Year! A snapshot of my face, ignore that.</h4>
          </li>
          <li>
            <h1>Projects and Privacy</h1>
            <h2>Jan 18 - Jan 19 (AD) 1:36 AM</h2>
            <p>
              On 1/18 I changed the way files are stored, which allows
              real file streaming. This made projects viewable again.
              On 1/19 I added an admin privacy bypass. This means that an
              admin can bypass privacy features.

              Here is the project that help me realize and fix the
              project streaming error/bug:

              <object data="//cocoink.ink/embed/projects/10/" type="text/html" style="zoom:0.5;" width="1000" height="500"></object>
              <h4>`Mr. Bombastic %sticker="Basketball"`</h4>
            </p>
          </li>
        </ul>
      </div>

      <footer class="box-product">
        <div id="footer-content">
          <p>Coco.ink © 2025 Coco Ink Software. All rights reserved.</p>
        </div>
        <h4>
          Want to know more about me? <a href="/faq">FactsAndQuestions</a>.
          You can also see my <a href="/family">family</a>.
        </h4>
      </footer>

    </div>

    <div id="error-container" class="error-container-hide">
      Some Scripts Have Probably Crashed
      <div id="e" class="error big-box"></div>
    </div>
    <!---->
    <script src="/Ambler.mp3Sound.js"></script>
    <script src="//JS/global.js"></script>
    <script src="/JS/@.js"></script>
    <!---->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        /* Aa *
        showError(); /* Aa */
        /* Aa */
        showMessage();
        const at = new Amp();
        const intro = window.document.getElementById("intro");
        intro.innerHTML = at.Stickerify(intro.innerHTML);
      });

      function showError() {
        document.getElementById("e").innerHTML = `Oops! Something Crashed!`;
        var errorContainer = document.getElementById("error-container");
        errorContainer.classList.remove("error-container-hide");
        errorContainer.classList.add("error-container-show");
      }

      function hideError() {
        document.getElementById("e").innerHTML = ``;
        var errorContainer = document.getElementById("error-container");
        errorContainer.classList.remove("error-container-show");
        errorContainer.classList.add("error-container-hide");
      }

      function showMessage(messageAtIndex) {
        var messageBox;
        switch (messageAtIndex) {
          case 5:
            //
            break;
        }
      }
    </script>
    <script>
      console.log(`At: ${window.location.pathname}`);
      if (window.location.pathname.includes('index.html')) window.location.href = window.location.pathname.replace('index.html', '');
    </script>
    <!--<script src="/Scripts/spawnNewstuff.js" type="module"></script>-->
    <script src="https://unpkg.com/dayjs@1.11.10/dayjs.min.js"></script>
    <!--<script type="module" src="/Scripts/bodyScripts.js"></script>-->
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
    <script>
      const errorMessageContainer = document.getElementById("error-container");

      function clearError() {
        errorMessageContainer.classList.remove("error-container-show");
        errorMessageContainer.classList.add("error-container-hide");
        document.getElementById("e").innerHTML = ``;
        var errorContainer = document.getElementById("error-container");
        errorContainer.classList.remove("error-container-show");
        errorContainer.classList.add("error-container-hide");
      };

      clearError();
    </script>
</body>

</html>